html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background-color: #a3a7ad;
    border-radius: 0.7rem;
}
 
::-webkit-scrollbar-thumb {
    background-color: #D3D8DD;
    border-radius: 0.7rem;
}